<div class="header-main">
  <div class="menu-left">
    <div class="logo">
      <p class="text-logo">
        <i class="fas fa-user-astronaut"></i>
        T. Phat
      </p>
    </div>

    <div class="navbar">
      <i class="far fa-bars"></i>
    </div>
  </div>
  <div class="menu-right">
    <ul class="navbar-right">
      <li class="menu-item">
        <i class="far fa-cog"></i>
      </li>
      <li class="menu-item">
        <i class="fal fa-bell-on"></i>
        <span class="notification-badge">6</span>
      </li>
      <li class="menu-item">
        <i class="fal fa-envelope"></i>
        <span class="notification-badge letter">6</span>
      </li>
      <li class="menu-item">
        <div class="avatar">
          <img src="../../../assets/image/phat.jpg" alt="" />
          <span>T. Phat</span>
        </div>
      </li>
      <li class="menu-item">
        <i class="fal fa-ellipsis-v-alt"></i>
      </li>
    </ul>
  </div>
</div>
