<section class="login">
  <div class="row col c-12">
    <div class="card mid-item">
      <div class="card-body login-form">
        <h1 class="title-form">Đăng ký</h1>
        <p class="welcome">Welcome !</p>
        <form [formGroup]="formAuth" (ngSubmit)="Onsubmit()">
          <div class="form-group">
            <label for="">Họ và tên</label>
            <input
              type="text"
              class="form-control"
              formControlName="fullname"
              placeholder="Họ tên..."
            />
          </div>
          <div
            class="errors"
            *ngIf="
              formAuth.controls['fullname'].invalid &&
              formAuth.controls['fullname'].touched
            "
          >
            Vui lòng nhập tên chính xác
          </div>
          <div class="form-group">
            <label for="">Địa chỉ Email</label>
            <input
              type="email"
              class="form-control"
              formControlName="email"
              placeholder="Email..."
            />
          </div>
          <div
            class="errors"
            *ngIf="
              formAuth.controls['email'].invalid &&
              formAuth.controls['email'].touched
            "
          >
            Vui lòng nhập email chính xác..
          </div>
          <div class="form-group">
            <label for="">Mật khẩu</label>
            <input
              type="password"
              formControlName="password"
              class="form-control"
              placeholder="Mật khẩu..."
            />
          </div>
          <div
            class="errors"
            *ngIf="
              formAuth.controls['password'].invalid &&
              formAuth.controls['password'].touched
            "
          >
            Mật khẩu phải nhiều hơn 6 kí tự
          </div>
          <div class="form-group">
            <label for="">Khu vực</label>
            <select formControlName="area" class="form-control">
              <option value="" hidden>Chọn khu vực</option>
              <option value="north">Bắc</option>
              <option value="central">Trung</option>
              <option value="south" [selected]="true">Nam</option>
            </select>
          </div>
          <div
            class="errors"
            *ngIf="
              formAuth.controls['area'].invalid &&
              formAuth.controls['area'].touched
            "
          >
            Vui lòng khu vực
          </div>
          <div class="form-group">
            <label for="">Ngày sinh</label>
            <input
              type="date"
              class="form-control"
              placeholder="Email..."
              formControlName="date"
            />
          </div>
          <div
            class="errors"
            *ngIf="
              formAuth.controls['date'].invalid &&
              formAuth.controls['date'].touched
            "
          >
            Vui lòng chọn ngày
          </div>
          <button type="submit" class="btn btn-primary">Đăng ký</button>
          <div class="register">
            <p>
              Bạn đã có tài khoản?
              <span [routerLink]="['/auth/login']">Đăng nhập ngay</span>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
