<section class="project_detail">
    <div class="row col c-12">
      <div class="card mid-item">
        <div class="card-body">
          <div class="name-leader">
            <div class="icon-leader">
              <i class="far fa-users"></i>
            </div>
            <p>Leader: {{ project.leader.fullname }}</p>
          </div>
          <div class="project-name">
            <h2><i class="fad fa-book-open"></i> {{ project.name }}</h2>
          </div>
          <div class="project-list-member">
            <p class="title-member">Danh sách thành viên:</p>
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Họ tên</th>
                  <th>Email</th>
                  <th>Khu vực</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let member of project.member, let i = index">
                  <td>{{ i+1 }}</td>
                  <td>{{ member.fullname }}</td>
                  <td>{{ member.email }}</td>
                  <ng-container [ngSwitch]="member.area">
                    <td *ngSwitchCase="'south'" >Nam</td>
                    <td *ngSwitchCase="'central'" >Trung</td>
                    <td *ngSwitchCase="'north'" >Bắc</td>
                  </ng-container>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="project-member">
            <div class="row">
              <div class="c-6">
                <div class="project-detail">
                  <i class="fal fa-user-hard-hat"></i>
                  <p>Thành viên: {{ project.member?.length }}</p>
                </div>
              </div>
              <div class="c-6">
                <div class="project-detail">
                  <i class="fal fa-badge-dollar"></i>
                  <p>Chi phí: {{ project.price | currency: "VND":"VNĐ" }}</p>
                </div>
              </div>
              <div class="c-6">
                <div class="project-detail">
                  <i class="fal fa-hourglass-half"></i>
                  <p>Ngày bắt đầu: {{ project.dateStart | date: "dd/MM/y" }}</p>
                </div>
              </div>
              <div class="c-6">
                <div class="project-detail">
                  <i class="fal fa-hourglass-half"></i>
                  <p>Ngày kết thúc: {{ project.dateEnd | date: "dd/MM/y" }}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="progress-container">
            <p class="progress-title">Tiến độ:</p>
            <div class="progress-bar">
              <div class="progress" style="width: 76%"></div>
              <p class="progress-percent">76%</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  