<div class="row col c-12">
  <div class="card mid-item">
    <div class="card-body">
      <p class="title-table">Dự án</p>
      <div class="search-input">
        <div class="form-search">
          <input
            type="text"
            placeholder="Tìm kiếm..."
            [(ngModel)]="searchKey"
          />
          <span class="icon-search">
            <i class="fad fa-search"></i>
          </span>
        </div>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Tên dự án</th>
            <th>Ngày bắt đầu</th>
            <th>Chi phí</th>
            <th>Leader</th>
            <th>Thành viên</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody *ngFor="let project of listProject | filter: searchKey">
          <tr>
            <td>{{ project.id }}</td>
            <td id="cupointer" [routerLink]="['project/', project.id]">
              {{ project.name }}
            </td>
            <td>{{ project.dateStart | date: "dd/MM/y" }}</td>
            <td>{{ project.price | currency: "VND":"VNĐ" }}</td>
            <td>{{ project.leader }}</td>
            <td>{{ project.member }}</td>
            <td>
              <button
                style="margin-right: 5px; background: #ff7400; color: #fff"
                class="btn"
                [routerLink]="['project/', project.id]"
              >
                <i class="fal fa-info-circle"></i>
              </button>
              <button class="btn btn-primary" style="margin-right: 5px">
                <i class="fal fa-comment-alt-edit"></i>
              </button>
              <button class="btn btn-danger">
                <i class="fas fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
