<div class="row col c-12">
  <div class="card mid-item">
    <div class="search-input"></div>
    <div class="card-body">
      <p class="title-table">Task</p>
      <div class="search-input">
        <div class="form-search">
          <input
            type="text"
            [(ngModel)]="searchKey"
            placeholder="Tìm kiếm..."
          />
          <span class="icon-search">
            <i class="fad fa-search"></i>
          </span>
        </div>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Tên task</th>
            <th>Dự án</th>
            <th>Người thực hiện</th>
            <th>Ưu tiên</th>
            <th>Trạng thái</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody *ngFor="let task of listTask | filter: searchKey, let i = index">
          <tr>
            <td>{{ i+1 }}</td>
            <td>{{ task.name }}</td>
            <td>{{ task.projectId.name }}</td>
            <td>{{ task.memberId.fullname }}</td>
            <td>{{ task.priority }}</td>
            <td *ngIf="task.status == 1">
              <button class="btn-active" style="margin-right: 5px">
                Kích hoạt
              </button>
            </td>
            <td *ngIf="task.status == 0">
              <button class="btn-unactive" style="margin-right: 5px">
                Chưa kích hoạt
              </button>
            </td>
            <td>
              <button class="btn btn-primary" style="margin-right: 5px"
              [routerLink]="['updatetask', task._id]">
                <i class="fal fa-comment-alt-edit"></i>
              </button>
              <button class="btn btn-danger" (click)="deleteMember(task._id)">
                <i class="fas fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal confirm" *ngIf="confirm">
  <div class="confirm-text">
    <p>Bạn có chắc muốn xóa không ?</p>
  </div>
  <div class="confirm-button">
    <button class="btn btn-agree" (click)="agreeConfirm()">Đồng ý</button>
    <button class="btn btn-cancel" (click)="cancelConfirm()">Hủy</button>
  </div>
</div>