<div class="row col c-12">
  <div class="card mid-item">
    <div class="card-body">
      <p class="title-table">Task</p>
      <div class="search-input">
        <div class="form-search">
          <input
            type="text"
            [(ngModel)]="searchKey"
            placeholder="Tìm kiếm..."
          />
          <span class="icon-search">
            <i class="fad fa-search"></i>
          </span>
        </div>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Họ tên</th>
            <th>Email</th>
            <th>Ngày sinh</th>
            <th>Mobile</th>
            <th>Giới tính</th>
            <th>Khu vực</th>
            <th>Trạng thái</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody *ngFor="let member of listMember | filter: searchKey">
          <tr>
            <td>{{ member.id }}</td>
            <td>{{ member.fullname }}</td>
            <td>{{ member.email }}</td>
            <td>{{ member.date | date: "dd/MM/y" }}</td>
            <td>{{ member.mobile | mobilepipe }}</td>
            <td>{{ member.sex == 1 ? "Nam" : "Nữ" }}</td>
            <td>{{ member.area }}</td>
            <td *ngIf="member.status == 1">
              <button class="btn-active" style="margin-right: 5px">
                Kích hoạt
              </button>
            </td>
            <td *ngIf="member.status == 0">
              <button class="btn-unactive" style="margin-right: 5px">
                Chưa kích hoạt
              </button>
            </td>
            <td>
              <button class="btn btn-primary" style="margin-right: 5px">
                <i class="fal fa-comment-alt-edit"></i>
              </button>
              <button class="btn btn-danger">
                <i class="fas fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
